<p>
    <!--SECTOR1-->
    <img *ngIf="ratingid>=1" src="./assets/rating/2.svg">
    <img *ngIf="ratingid>=2" src="./assets/rating/2.svg">
    <img *ngIf="ratingid>=3" src="./assets/rating/2.svg">
    <img *ngIf="ratingid>=4" src="./assets/rating/2.svg">
    <img *ngIf="ratingid>=5" src="./assets/rating/2.svg">
    <img *ngIf="ratingid>=6" src="./assets/rating/2.svg">
    <img *ngIf="ratingid>=7" src="./assets/rating/2.svg">
    <img *ngIf="ratingid>=8" src="./assets/rating/2.svg">
    <img *ngIf="ratingid>=9" src="./assets/rating/2.svg">
    <img *ngIf="ratingid>=10" src="./assets/rating/2.svg">
    <!--SECTOR2-->
    <img *ngIf="ratingid<1" src="./assets/rating/1.svg">
    <img *ngIf="ratingid<2" src="./assets/rating/1.svg">
    <img *ngIf="ratingid<3" src="./assets/rating/1.svg">
    <img *ngIf="ratingid<4" src="./assets/rating/1.svg">
    <img *ngIf="ratingid<5" src="./assets/rating/1.svg">
    <img *ngIf="ratingid<6" src="./assets/rating/1.svg">
    <img *ngIf="ratingid<7" src="./assets/rating/1.svg">
    <img *ngIf="ratingid<8" src="./assets/rating/1.svg">
    <img *ngIf="ratingid<9" src="./assets/rating/1.svg">
    <img *ngIf="ratingid<10" src="./assets/rating/1.svg">
</p>